* { box-sizing: border-box; }
html, body { height: 100% }
img { width: 100% }

body {
    font-family: "San Francisco", "Helvetica Neue", sans-serif;
    font-size: 15px;
}

main {
    overflow: inherit;
}

.col h1, .col h2, .col h3, .col h4, .col h5, .col h6, .col p {
    margin: 20px 0;
}

.row {
    display: flex;
    flex-direction: column;
}

.row-inline {
    flex-direction: row;
}

.col {
    flex: 1;
    padding: 15px 20px;
}

.col-center {
    text-align: center;
}

.col-left {
    text-align: left;
}

.col-right {
    text-align: right;
}

.col__heading {
    color: #1560FB;
    text-transform: uppercase;
    font-size: 12px;
}

.list__heading {
    color: #1560FB;
    text-transform: uppercase;
    font-size: 12px;
}


.header-container {
    /*background: RGBA(7, 90, 255, 1.00);*/
    background: linear-gradient(to top, RGBA(7, 90, 255, 1.00), rgba(7, 90, 255, .10));
    padding: 10px 5px;
    color: white;
    min-height: 100vh;
}

.profile {
    margin-top: 18vh;
}

.img-profile {
    border-radius: 50%;
    width: 30vh;
    height: 30vh;
    box-shadow: 0px 1px 20px 0px #0A4DD9;
}

.greeting {
    margin-top: 5vh;
    margin-bottom: 14vh;
}

.btn {
    border: 2px solid white;
    border-radius: 3px;
    background: #1560FB;
    color: white;
    width: 200px;
    margin: 10px 0;
    padding: 10px 20px;
}

.social-links{
    text-decoration: none;
    padding: 5px;
}

.text-white {
    color: white;
}

.text-normal {
    font-weight: normal;
}

.text-large {
    font-size: 28px;
    font-weight: 700;
}

.text-name {
    font-size: 20px;
    font-weight: 700;
}

.text-opacity {
    opacity: .6;
}

.list {
    list-style: none;
    padding-left: 2px;
}

.list__item {
    font-weight: 700;
    padding:3px;
}

.list__item__style {
    padding-right: 15px;
    color: #1560FB;
}

.blue-arrow {
    color: #1560FB;
    padding-left: 15px;
}

.section__heading {
    font-size: 18px;
    font-weight: 700;
}

.section__text {
    color: #313131;
    line-height: 26px;
}

.large-display {
    display: none;
}

/*Use three breakpoints to optimize for mobile (554px or less), tablet (768px or less), and laptop (above 768px).*/

@media screen and (min-width: 414px) {
    .greeting {
        margin-bottom: 20vh;
    }
}

/* tablets */
@media screen and (min-width: 768px) {

    .row {
        flex-direction: row;
    }

    main {
        overflow: scroll;
    }

    .profile {
        margin-top: 30vw;
    }

    .img-profile {
        width: 30vw;
        height: 30vw;
    }

    .greeting {
        margin-top: 10vw;
        margin-bottom: 0;
    }

    .large-display-centered {
        /*padding-top: 10vw;*/
    }

    .large-display-centered-footer {
        padding-top: 33vw;
    }
    /*.row-large-column-direction {
        flex-direction: column;
    }*/

    .col-1 { flex: 1; }
    .col-2 { flex: 2; }
    .col-3 { flex: 3; }
    .col-4 { flex: 4; }
    .col-5 { flex: 5; }
    .col-6 { flex: 6; }
    .col-7 { flex: 7; }
    .col-8 { flex: 8; }
    .col-9 { flex: 9; }
    .col-10 { flex: 10; }
    .col-11 { flex: 11; }
    .col-12 { flex: 12; }

    .col__heading {
        display: block;
    }

    .large-display {
        display: none;
    }

    .large-display-centered-footer {
        /*padding-top: 330px;*/
    }
}

@media screen and (min-width: 1024px) {
    .large-display-centered-footer {
        padding-top: 42vw;
    }

    .text-large {
        font-size: 35px;
        font-weight: 700;
    }

    .text-name {
        font-size: 28px;
        font-weight: 700;
    }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
    .profile {
        margin-top: 10vw;
    }

    .img-profile {
        width: 20vw;
        height: 20vw;
    }

    .large-display-centered-footer {
        padding-top: 12vw;
    }

    .col__heading {
        display: none;
    }

    .large-display {
        display: block;
    }

}

/*@media screen and (min-width: 1025px) and (orientation: landscape) {*/
    /*.header-container {*/
        /*min-height: inherit;*/
    /*}*/

    /*.large-display-centered-footer {*/
        /*padding-top: 10vw;*/
    /*}*/
/*}*/

@media screen and (min-width: 1366px) and (orientation: landscape) {
    .large-display-centered-footer {
        padding-top: 20vw;
    }
}

@media screen and (min-width: 1367px) {
    .profile {
        margin-top: 10vw;
    }

    .img-profile {
        width: 20vw;
        height: 20vw;
    }

    .greeting {
        margin-top: 5vw;
        margin-bottom: 0;
    }

    .large-display-centered-footer {
        padding-top: 5vw;
    }
}